<!-- header -->

<body>

    <div class="perfil">

       <!-- panel lateral -->

        <div class="info">

            <!-- panel de bisqueda -->

            <div class="container">
                <div class="row">

                    <div class="usuario">
                        <h2>Perfil de Usuario</h2>
                        <img src="public/assets/dashboard/administrador/perfil_usuario/img/perfil-usuario.png"
                            alt="persona"><i class="bi bi-pen-fill"></i>
                        <h3>ANDRES RODRIGUEZ</h3>
                        <p>Administrador</p>
                        <i class="bi bi-facebook"></i>

                        <button>Descripción General</button>
                        <button>Editar Perfil</button>
                        <button>Ajustes</button>
                        <button>Cambiar Contraseña</button>
                    </div>

                    <!-- <div class="datos">
                        
                        <h3>Detalles Del Perfil</h3>
                

                        <h4>Nombre Completo</h4>
                        <p>Kevin Anderson</p>

                        <h4>Correo Electrónico</h4>
                        <p>Kevin Anderson</p>

                        <h4>Teléfono</h4>
                        <p>Kevin Anderson</p>

                        <h4>Dirección</h4>
                        <p>Kevin Anderson</p>

                        <h4>Rol</h4>
                        <p>Administrador</p>

                        <h4>Identificacion</h4>
                        <p>K1002006049</p>

                    </div> -->

                    <!-- <div class="editar">

                        <h4>Imagen Perfil</h4>
                        <img src="../../assets/dashboard/administrador/perfil_usuario/img/perfil-usuario.png" alt="">

                        <button>descargar</button>
                        <button>eliminar</button>

                        <form action="">
                            <h4>Nombre Completo</h4>
                            <input type="text" placeholder="Kevin Anderson">

                            <h4>Correo Electrónico</h4>
                            <input type="text" placeholder="">

                            <h4>Teléfono</h4>
                            <input type="number" placeholder="">

                            <h4>Dirección</h4>
                            <input type="text" placeholder="">

                            <h4>Identificacion</h4>
                            <input type="text" placeholder="">

                            <h4>Perfil Facebook</h4>
                            <input type="text" placeholder="">

                            <h4>Perfil Instagram</h4>
                            <input type="text" placeholder="">

                            <h4>Perfil LinkedIn</h4>
                            <input type="text" placeholder="">

                        </form>
                    </div> -->

                    <!-- <div class="ajustes">

                        <h3>Notificaciones por Correo Electronico</h3>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="checkDefault">
                            <label class="form-check-label" for="checkDefault">
                                Default checkbox
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="checkChecked" checked>
                            <label class="form-check-label" for="checkChecked">
                                Checked checkbox
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="checkChecked" checked>
                            <label class="form-check-label" for="checkChecked">
                                Checked checkbox
                            </label>
                        </div>

                        <button>Guardar Cambios</button>

                    </div> -->

                    <!-- <form action="cambiar">
                        <h4>Contraseña Actual</h4>
                        <input type="text">

                        <h4>nueva contraseña</h4>
                        <input type="text">

                        <h4>Confirmar Contraseña</h4>
                        <input type="text">

                        <button>Cambiar Contraseña</button>
                    </form> -->
                </div>
            </div>

        </div>

    </div>


    <!-- aca va ae scrip -->

</body>

</html>


